*{
    font-family: "Roboto", sans-serif;
}
header{
    background-color: #242739;
}
header span{
    color: white;
}
.nav-item a{
    color:  white;
}
.nav-item a:visited{
    color: white;
}
.nav-item a:hover{
    color: black;
}
#nav-butoon{
    background-color: #33454e;

}
.bi{
    color: black;
    font-size: 1.5cm;
}
.img-proyecto1{
    background-image: url(/assets/Captura\ de\ pantalla\ \(215\).png);
    background-size: contain;
    background-repeat: no-repeat;
}

footer{
    background-color: #242739;
}
footer .icon-footer i{
    color: bisque;
}
footer p{
    color: bisque;
}
footer p a{
    color: bisque;
}

